#fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media screen and (max-width: 500px) {

    #banner {
        padding-top: 1em;
    }

}

#fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 767px) {
    #fullscreen-bg {
        background: url('/images/penguin_poster.png') center center / cover no-repeat;
    }

    #fullscreen-video {
        display: none;
    }
}